/* -------------------- 1920 -------------------- */

@media only screen and (max-width:1920px) {

	header > nav > ul {
	    float: right;
	    margin: 85px 0 0;
	    padding: 0;
	}

	header > nav > ul > li > a {
		color: #000000;
		font-size: 25px;
		font-weight: lighter;
		margin-left: 50px;
		text-decoration: none;
		text-transform: lowercase;
	}

	#contacto p {
	    font-size: 20px;
	    text-align: center;
	}

	#montevideo > h3 {
		color: #c80e06;
		font-size: 25px;
	}

	#punta > h3 {
		color: #c80e06;
		font-size: 25px;
	}

}

/* -------------------- 1600 -------------------- */

@media only screen and (max-width:1600px) {

}

/* -------------------- 1440 -------------------- */

@media only screen and (max-width:1440px) {

	#clientes li {
	    display: block;
	    float: left;
	    list-style: outside none none;
	    padding: 35px;
	}

}

/* -------------------- 1366  -------------------- */

@media only screen and (max-width:1366px) {

	header > nav > ul > li > a {
	    color: #000000;
	    font-size: 20px;
	    font-weight: lighter;
	    margin-left: 50px;
	    text-decoration: none;
	    text-transform: lowercase;
	}

	h1 {
	    color: #c80e06;
	    font-size: 40px;
	    font-weight: lighter;
	    margin: 0 auto;
	    padding: 100px;
	}

	#clientes li {
	    display: block;
	    float: left;
	    list-style: outside none none;
	    padding: 30px;
	}

	#montevideo > h3 {
	    color: #c80e06;
	    font-size: 20px;
	}

	#punta > h3 {
	    color: #c80e06;
	    font-size: 20px;
	}

	#contacto p {
	    font-size: 18px;
	    text-align: center;
	}

}

/* -------------------- 1280 -------------------- */

@media only screen and (max-width:1280px) {

	header > nav > ul {
	    float: right;
	    margin: 90px 0 0;
	    padding: 0;
	}

	#clientes li {
	    display: block;
	    float: left;
	    list-style: outside none none;
	    padding: 20px;
	}

}

/* -------------------- 1250 -------------------- */

@media only screen and (max-width:1250px) {

	#hero > p {
	    color: #ffffff;
	    font-size: 27px;
	    font-weight: lighter;
	    margin: 0 auto;
	    padding: 300px 50px 100px;
	    text-align: center;
	}

	#concepto > p {
	    font-size: 22px;
	    font-weight: lighter;
	    line-height: 45px;
	    margin: 0 auto;
	    padding: 100px;
	}

	h1 {
	    color: #c80e06;
	    font-size: 35px;
	    font-weight: lighter;
	    margin: 0 auto;
	    padding: 100px;
	}

	.half > p {
	    font-size: 22px;
	    font-weight: lighter;
	    line-height: 45px;
	    margin: 0 auto;
	    padding: 100px;
	}

	.last > p {
	    font-size: 22px;
	    font-weight: lighter;
	    line-height: 45px;
	    margin: 0 auto;
	    padding: 100px;
	}

}

/* -------------------- 1152 -------------------- */

@media only screen and (max-width:1152px) {

	#clientes li {
	    display: block;
	    float: left;
	    list-style: outside none none;
	    padding: 10px;
	}

}

/* -------------------- 1024 -------------------- */

@media only screen and (max-width:1024px) {

	#clientes img {
	    width: 155px;
	}

}

/* -------------------- 1023 -------------------- */

@media only screen and (max-width:1023px) {

}

/* -------------------- 980 -------------------- */

@media only screen and (max-width: 980px) {

}

/* -------------------- 810 mobile -------------------- */

@media only screen and (max-width: 810px) {

	header > nav > ul {
	    float: right;
	    margin: 93px 0 0;
	    padding: 0;
	}

	header > nav > ul > li > a {
	    color: #000000;
	    font-size: 18px;
	    font-weight: lighter;
	    margin-left: 45px;
	    text-decoration: none;
	    text-transform: lowercase;
	}

	h1 {
	    color: #c80e06;
	    font-size: 35px;
	    font-weight: lighter;
	    margin: 0 auto;
	    padding: 50px;
	}

	.half > p {
	    font-size: 22px;
	    font-weight: lighter;
	    line-height: 45px;
	    margin: 0 auto;
	    padding: 50px;
	}

	.last > p {
	    font-size: 22px;
	    font-weight: lighter;
	    line-height: 45px;
	    margin: 0 auto;
	    padding: 50px;
	}

	#clientes img {
	    width: 115px;
	}

	#clientes > ul {
	    display: block;
	    height: 100px;
	}

}

/* -------------------- 800 -------------------- */

@media only screen and (max-width:800px) {
	
	header {
	    border-bottom: 5px solid #c80e06;
	    height: 110px;
	    padding: 10px 25px;
	}

	header > nav > a > img {
    	width: 250px;
	}

	header > nav > ul {
	    float: right;
	    margin: 75px 0 0;
	    padding: 0;
	}

	header > nav > ul > li > a {
	    color: #000000;
	    font-size: 18px;
	    font-weight: lighter;
	    margin-left: 50px;
	    text-decoration: none;
	    text-transform: lowercase;
	}

	h1 {
	    color: #c80e06;
	    font-size: 30px;
	    font-weight: lighter;
	    margin: 0 auto;
	    padding: 100px;
	}

	.half > p {
	    font-size: 20px;
	    font-weight: lighter;
	    line-height: 35px;
	    margin: 0 auto;
	    padding: 100px;
	}

	.last > p {
	    font-size: 20px;
	    font-weight: lighter;
	    line-height: 35px;
	    margin: 0 auto;
	    padding: 100px;
	}

	#clientes img {
	    width: 115px;
	}

}

/* -------------------- 768 mobile -------------------- */

@media only screen and (max-width:768px) {

	header > nav > ul > li > a {
	    color: #000000;
	    font-size: 18px;
	    font-weight: lighter;
	    margin-left: 30px;
	    text-decoration: none;
	    text-transform: lowercase;
	}

	#clientes li {
	    display: block;
	    float: left;
	    list-style: outside none none;
	    padding: 5px;
	}

}

/* -------------------- 767 mobile -------------------- */

@media screen and (max-width: 767px) {
	
}

/* -------------------- 640 mobile -------------------- */

@media only screen and (max-width: 640px) {

	header > nav > a > img {
	    width: 200px;
	}

	header > nav > ul {
	    float: right;
	    margin: 55px 0 0;
	    padding: 0;
	}

	header > nav > ul > li > a {
	    color: #000000;
	    font-size: 18px;
	    font-weight: lighter;
	    margin-left: 20px;
	    text-decoration: none;
	    text-transform: lowercase;
	}

	header {
	    border-bottom: 5px solid #c80e06;
	    height: 90px;
	    padding: 10px 25px;
	}

	h1 {
	    color: #c80e06;
	    font-size: 30px;
	    font-weight: lighter;
	    margin: 0 auto;
	    padding: 50px;
	}

	.half > p {
	    font-size: 20px;
	    font-weight: lighter;
	    line-height: 35px;
	    margin: 0 auto;
	    padding: 50px;
	}

	.last > p {
	    font-size: 20px;
	    font-weight: lighter;
	    line-height: 35px;
	    margin: 0 auto;
	    padding: 50px;
	}

	#clientes > ul {
	    display: block;
	    height: 100px;
	    padding: 0;
	}

	#clientes img {
	    width: 105px;
	}

	#contacto p {
	    font-size: 18px;
	    font-weight: lighter;
	    text-align: center;
	}

}

/* -------------------- 639 mobile -------------------- */

@media only screen and (max-width: 639px) {

}

/* -------------------- 480 mobile -------------------- */

@media only screen and (max-width:480px) {

	header > nav > a > img {
	    width: 150px;
	}

	header > nav > ul > li > a {
	    color: #000000;
	    font-size: 15px;
	    font-weight: lighter;
	    margin-left: 10px;
	    text-decoration: none;
	    text-transform: lowercase;
	}

	header > nav > ul {
	    float: right;
	    margin: 40px 0 0;
	    padding: 0;
	}

	header {
	    border-bottom: 5px solid #c80e06;
	    height: 60px;
	    padding: 10px 25px;
	}

	#hero > p {
	    color: #ffffff;
	    font-size: 25px;
	    font-weight: lighter;
	    margin: 0 auto;
	    padding: 300px 50px 100px;
	    text-align: center;
	}

	#concepto > p {
	    font-size: 20px;
	    font-weight: lighter;
	    line-height: 40px;
	    margin: 0 auto;
	    padding: 100px;
	}

	h1 {
	    color: #c80e06;
	    font-size: 25px;
	    font-weight: lighter;
	    margin: 0 auto;
	    padding: 40px;
	}

	.half > p {
	    font-size: 18px;
	    font-weight: lighter;
	    line-height: 35px;
	    margin: 0 auto;
	    padding: 40px;
	}

	.last > p {
	    font-size: 18px;
	    font-weight: lighter;
	    line-height: 35px;
	    margin: 0 auto;
	    padding: 40px;
	}

	#clientes > p {
	    font-size: 20px;
	    font-weight: lighter;
	    line-height: 45px;
	    margin: 0 auto;
	    text-align: center;
	}

}

/* -------------------- 360 mobile -------------------- */

@media only screen and (max-width: 360px) {

	header > nav > a > img {
	    width: 270px;
	}

	header {
	    border-bottom: 5px solid #c80e06;
	    height: 200px;
	    padding: 10px 25px;
	}

	header > nav > ul {
	    float: left;
	    margin: 35px 0 0;
	    padding: 0;
	}

	header > nav > ul > li > a {
	    color: #000000;
	    font-size: 15px;
	    font-weight: lighter;
	    margin-left: 9px;
	    text-decoration: none;
	    text-transform: lowercase;
	}

	#hero > p {
	    color: #ffffff;
	    font-size: 25px;
	    font-weight: lighter;
	    margin: 0 auto;
	    padding: 200px 30px 100px;
	    text-align: center;
	}

	#concepto > p {
	    font-size: 17px;
	    font-weight: lighter;
	    line-height: 30px;
	    margin: 0 auto;
	    padding: 15px;
	}

	.half {
	    float: left;
	    height: 150px;
	    margin: 50px 0;
	    width: 50%;
	}

	.last {
	    float: right;
	    height: 150px;
	    margin: 50px 0;
	    width: 50%;
	}

	h1 {
	    color: #c80e06;
	    font-size: 15px;
	    font-weight: lighter;
	    margin: 0 auto;
	    padding: 10px;
	}

	.last > p {
	    font-size: 12px;
	    font-weight: lighter;
	    line-height: 17px;
	    margin: 0 auto;
	    padding: 10px;
	}

	.half > p {
	    font-size: 12px;
	    font-weight: lighter;
	    line-height: 17px;
	    margin: 0 auto;
	    padding: 10px;
	}

	#clientes > ul {
	    display: block;
	    height: 150px;
	    padding: 0;
	}

}

/* -------------------- 320 mobile -------------------- */

@media only screen and (max-width:320px) {

}
